<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>All the Cats</title>
</head>
<body>
<h1>All Cats!</h1>
<% for (cat of cats) { %>
    <li><%= cat %></li>
<% } %>
</body>
</html>