<%- include('partials/head') %>
<body>
<%- include('partials/navbar') %>
<div class="container">
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolorum soluta veritatis voluptate! Architecto atque
       minima nisi optio voluptates? Aliquid dolorum facilis quo. Adipisci animi cum dignissimos optio similique, sunt.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusantium aspernatur distinctio dolorum, esse
       ipsam
       itaque iusto labore libero magnam, odio officiis perspiciatis placeat quae quod recusandae reiciendis
       reprehenderit
       vitae!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at eos et laudantium nulla officia quis
       totam?
       Delectus esse, fugiat illo maiores nesciunt perferendis qui quis repellat repellendus ullam voluptatibus! Lorem
       ipsum
       dolor sit amet, consectetur adipisicing elit. Ab aliquam aut doloribus eligendi, optio quidem suscipit?
       Accusantium
       animi esse fugit harum illo iure, molestias nobis porro sequi similique sit voluptatibus!</p>
</div>
</body>
</html>