<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title><%= subreddit; %> Subreddit</title>
</head>
<body>
    <h1>Browsing <%= subreddit; %> Subreddit</h1>
</body>
</html>